{% extends 'search/search_layout.html' %}
{% block body %}

{% for x in category_data %}
<div class="flex column gap-10 data_item" id="{{x.category}}">
    <div class="flex row data_details">
        <div>
            <strong>Category Code : </strong>
            <span><em>
                <span class="name">{{x.category}}</span> - 
                <span class="definition">{{x.definition}}</span>
            </em></span>
        </div>
        {% if data[x.category]|length > 0 %}
        <div class="flex row gap-10 align-center" id="display_files" onclick="display_files_list('{{x.category}}')">
            <div>
                <span>Files Found : </span>
                <span class="files_count">{{data[x.category]|length}}</span>
            </div>
            <div class="flex align-center">
                <img src="/static?file_name=down-arrow-regular-24.png" alt="">
            </div>
        </div>
        {% endif %}
    </div>

    {% if data[x.category]|length == 0 %}
        <div class="no-files">No files for the Category..</div>
    {% else %}
        <div class="files_list hide">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Owner</th>
                        <th>Size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for _ in data[x.category] %}
                    <tr class="files_data" id="data_item_{{_.data_item}}">
                            <td class="file_name_col flex row">
                                <img src="{{_.icon}}" alt="">
                                <div class="flex column" style="gap: 0px;">
                                    <span class="file_name cut-text">
                                        <abbr title="{{_.name}}">{{_.name}}</abbr>
                                    </span>
                                    <span class="file_name cut-text" style="font-size: 15px;">
                                        <abbr title="{{_.desc}}"><em>{{_.desc}}</em></abbr>
                                    </span>
                                </div>
                            </td>
                            <td class="file_time">{{_.time}}</td>
                            <td class="file_owner">{{_.email}}</td>
                            <td class="file_size">{{_.size}}</td>
    
                            <td class="file_more_options_">
                                <div class="flex align-center"><img src="/static?file_name=dots-regular-24.png" alt=""></div>
                                <div id="options_list" class="column">
                                    <a href="/view/file?q={{data_item_list[_.data_item]}}&e={{dept_id}}" target="_blank" id="view">
                                        <div class="flex row gap-5">
                                            <div class="flex align-center">
                                                <img src="/static?file_name=view-regular-24.png" alt="">
                                            </div>
                                            <div>
                                                View
                                            </div>
                                        </div>
                                    </a>
                                    <div class="flex row gap-5" onclick="rename_file({{_.data_item}},'{{_.name}}')">
                                        <div class="flex align-center">
                                            <img src="/static?file_name=rename-regular-24.png" alt="">
                                        </div>
                                        <div>
                                            Rename
                                        </div>
                                    </div>
                                    <div class="flex row gap-5" onclick="delete_file({{_.data_item}})">
                                        <div class="flex align-center">
                                            <img src="/static?file_name=trash-regular-24.png" alt="">
                                        </div>
                                        <div>
                                            Delete
                                        </div>
                                    </div>
                                </div>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}